/build
/gwt-unitCache
/ivy-lib
/dist
/bin
/bin.cobertura
/bin.test
/cobertura-report
/ivy-lib-coverage
/reports
/.pmd
/.classpath
/.project
/.settings
/war/math_player
/war/WEB-INF/classes
/war/WEB-INF/lib
.idea/
*.iml
